// change the theme
$theme-colors: (
  // "primary": #6e49cb,
  "primary": rgb(6, 4, 117),
  "danger": #ff4136,
  "task-list": #380d75,
  "in-progress": #fc6d26,
  "late": #db3b21,
  "due": #fca121,
  "success": #006400
);

.cardcustom {
  background: rgb(6, 4, 117) !important;
}
.cardItem {
  background: rgb(6, 4, 117) !important;
  width: 90%;
}

a:link {
  color: red;
}
a:visited {
  color: red;
}
#cont {
  border-width: 15;
}

#title-text {
  font-family: Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16pt;
  font-weight: 100;
}

#navbar-image {
  width: 25px;
  height: 25px;
}
.button1 {
  display: inline;
  float: right;
}
.button2 {
  background-color: green !important;
  margin-top: 10px;
  display: inline;
  float: left;
}

#bigList {
  position: relative;
  font-size: 18px;
  color: white;
}
#spanSpace {
  position: relative;
  margin-left: 3%;
  font-size: 12px;
  color: white;
}
#button-holder {
  background-color: #f1f1f1;
  display: inline-block;
}

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";
